body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    background-position: center;
    transition: background 1s ease-in-out;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    background-image: url('images/3.jpg');
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: red; */
    /* background: red; */
    background: #333 !important;
    display: block;
    justify-content:space-between;
    align-items: center;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
}

.header .logo {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}


.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .3s;
}

.nav a:hover::after {
    transform: scaleX(1);
}

.info{
    margin-top: 120px;
    background: #f5f0f0cb;
    float:left;
    border-radius: 20px;
    padding: 40px;
    margin-left: 35%;
    margin-right: 60%;
    color: #7e6161;
    width: 300px;
    text-align: center;
}


input{
    border-radius: 20px;
    background:transparent;
    padding: 10px;
    color: #7e6161;
    margin-left: 10px;
    cursor: pointer;
    font-size: larger;
}

button{
    border-radius: 20px;
    background:transparent;
    padding: 10px;
    color: #7e6161;
    margin-left: 10px;
    cursor: pointer;
    width: 130px;
}

.ewk_banner_link {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    background-color: #443d3d;
    color: white;
    text-decoration: none;
    border-radius: 50%; /* Establece el radio para hacerlo circular */
    transition: background-color 0.3s; /* Agrega una transición suave */
}

.ewk_banner_link{
    background-color: #443d3d; /* Cambia el color de fondo al pasar el cursor sobre él */
}
